a {
    text-decoration: none;
}
.shortcut{
    color: cornflowerblue; font-size: 16px; line-height: 20px;
}
/*Как вариант так
h1{
    color: #222222; font-size: 28px; line-height: 36px; font-weight: bold;
}
p{
    font-style: normal; font-weight: 300; font-size: 18px; line-height: 30px; color: #7D7987
}
h2{
    color: coral; font-style: normal; font-weight: 700; font-size: 36px; line-height: 80px;
}
*/
.TextBlock{
    font-style: normal; font-weight: 300; font-size: 18px; line-height: 30px; color: #7D7987
}
.StrName{
    color: #222222; font-size: 28px; line-height: 36px; font-weight: bold;
}
.BlockName{
    color: coral; font-style: normal; font-weight: 700; font-size: 36px; line-height: 80px;
}
header{
    background-color: #bdfa77b4;border-radius: 10px;padding: 10px;
}